body{
    background-image: url("../img/abstract-background-board-brown-129728.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: none;
    z-index: -1;
}
nav{
    width: 98.5%;
    background-color: rgb(240, 104, 13);
    opacity: 0.5;
    margin: auto;
    position: fixed;
    height: 4%;
    z-index: 1;
    top: 0;
    padding-bottom: 3%;
    margin-right: 0;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li{
    display: inline;
    justify-content: space-around;
    list-style: none;
    margin: 0 30px;
    color: white;
    cursor: pointer;
    padding: 40px;
    text-align: center;
    margin-right: 40px;
}
nav ul li a {
    color: rgb(47, 4, 75);
    /* width: 200px; */
    text-decoration: none;
    display: inline-block;
    text-align: right;
    padding: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    text-shadow: rgb(247, 6, 247);
}
nav>ul>li>a:hover {
    box-shadow: 0 0 10px black, inset 0 0 1px black;
    background: rgb(240, 132, 10);
    }
    .intro{
        background: #000 url("../img/close-up-photography-of-pizza-1458426.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /* background-attachment: fixed; */
        z-index: -1;
        color: white;
        /* position: relative; */
        align-items: center;
        padding-top: 10vh;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        list-style: none;
        padding-bottom: 750px;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* margin-bottom: 1%; */
        top: 0;
        overflow: hidden;
    }
    .mission {
        font-size: 150%;
    }

    figcaption{
        text-align: center
    }
    .order-overlay {
        height: inherit;
        padding: 20px;
        background-color: rgb(240, 104, 13);
        opacity: 0.6;
        border-radius: 20px;
    }
    label{
        color: white;
    }
    #order{
        padding: 20px 50px 20px 50px;
        font-family: 'Love Ya Like A Sister', cursive;
    }
    .checkout {
        border-radius: 15px;
        margin-top: 20px;
    }
    .order-summary{
       background-color: #000;
        margin-top: 70px;
        margin-left: 18%;
        margin-right: 18%;
        border-radius: 20px;
        justify-content: space-between;
        color: white;
    }
    .order-summary input{
        margin-top: 30px;
        border-radius: 10px;
    }
    .bg-info{
        border-radius: 10px;
        margin-top: 20px;
    }
    .click-me, button[type=submit], .deliver, .delivernot {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 2px;
        background-color: rgb(235, 139, 13);
        outline: none;
        padding: 12.5px 13px;
        border: none;
        border-radius: 33px;
        font-size: 14px;
    }
    
    .deliver, .delivernot {
        margin: 10px;
    }
    #card{
        height: 70%;
        display: grid;
    }
    #card img{
        width:100%;
        /* display: inline; */
    }
    .row img{
        width: 100%;
    }
    .card{
        text-align: center;
        background-color: rgb(243, 115, 11)
    }
    .card1{
        
    }